@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');
@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow');
@import url('http://fonts.googleapis.com/css?family=Kotta+One|Cantarell:400,700');

html, body {
    height: 100%;
    font-family: 'Open Sans';
}

.container-full, .container-full .jumbotron {
    height: 100%;
    margin-bottom: 0;
}

.intro-container {
    background-image: url(../images/background.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
}

.intro-container .title-container .title {
    background-color: rgba(0, 0, 0, 0.6);
    padding-bottom: 15px;
    padding-top: 5px;
    color: #ffffff;
}


.intro-container h1, h2, h3, h4, h5 {
    font-family: 'Cantarell';
    text-transform: uppercase;
    line-height: 1.5;
}

.bride-container {
    background-color: #FF6A6A;
    color: #fff;
}

.groom-container {
    background-color: #FF8C69;
    color: #fff;
}

.wedding-container {
    background-color: #FFB6C1;
    color: #fff;
}

.vertical-center {
    min-height: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.img-circle {
    border-radius: 50%;
}

.about-bride-groom {
    font-family: 'Open Sans Condensed', sans-serif;
    letter-spacing: 2px;
}

h2 {
    font-family: 'PT Sans Narrow', sans-serif;
    letter-spacing: 2px;
}