@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');
@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow');
@import url('https://fonts.googleapis.com/css?family=Kotta+One|Cantarell:400,700');

html, body {
    height: 100%;
    font-family: 'Open Sans';
}

.container-full, .container-full .jumbotron {
    height: 100%;
    margin-bottom: 0;
}

.intro-container {
    background-image: url(../images/background.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
}

.intro-container .title-container .title {
    background-color: rgba(0, 0, 0, 0.6);
    padding-bottom: 15px;
    padding-top: 5px;
    color: #ffffff;
}

.intro-container h1, h2, h3, h4, h5 {
    font-family: 'Cantarell';
    text-transform: uppercase;
    line-height: 1.5;
}

.section {
    background-size: cover;
}

.bride-container {
    background-color: #FF6A6A;
    color: #fff;
}

.bride-container h1, h2, h3, h4, h5 {
    font-family: 'Cantarell';
}

.groom-container {
    background-color: #FF8C69;
    color: #fff;
}

.groom-container h1, h2, h3, h4, h5 {
    font-family: 'Cantarell';
}

.vertical-center {
    min-height: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.img-circle {
    border-radius: 50%;
}

.about-bride-groom {
    font-family: 'Open Sans Condensed', sans-serif;
    letter-spacing: 2px;
}

.wedding-container {
    background-color: #FFB6C1;
    color: #fff;
}

div .engagement-container {
    background-image: url(../images/engagementring.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #464646;
}

div .reception-container {
    background-image: url(../images/reception.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #464646;
    color: #fff;
}

.fa-cursor {
    cursor: pointer;
}

#menu li {
    display: inline-block;
    margin: 10px;
    color: #000;
    background: #fff;
    background: rgba(255, 255, 255, 0.5);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

#menu li.active {
    background: #666;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
}

#menu li a {
    text-decoration: none;
    color: #000;
}

#menu li.active a:hover {
    color: #000;
}

#menu li:hover {
    background: rgba(255, 255, 255, 0.8);
}

#menu li a,
#menu li.active a {
    padding: 9px 18px;
    display: block;
}

#menu li.active a {
    color: #fff;
}

#menu {
    position: fixed;
    top: 0;
    left: 0;
    height: 40px;
    z-index: 70;
    width: 100%;
    padding: 0;
    margin: 0;
}